@import url("../../style/dist/style.css");

$backgroundStockInfo: #738793;
$white: #fff;
$wordsColor: #333333;
$ColorButton: #534e60;
$bacground: #f4f4f2;
$bacgroundWhite: #e6eae7;
$grey: #7c7c7c;
$resultBacground: #e6eae7;
$borderColor: #9e9e9e;
$breadcrumbColor: #959595;
$numberColor: #738793;

.wrap {
  background-color: $bacground;
}
//CAROUSEL
.carousel-item {
  .block {
    justify-content: space-between;
    &-card {
      &-img {
        margin-bottom: 2rem;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
.carousel-control-next,
.carousel-control-prev {
  align-items: self-start;
  width: 50px;
  height: 50px;
  opacity: 1;
  z-index: 5;
  top: -15%;
}
/*.carousel-control-prev {
  left: 90%;
}
.carousel-control-next {
  right: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 0;
}*/
.mainDescription {
  background-color: $bacground;
  padding: 50px 0 0 0;
  &_content {
    h2 {
      font-family: "Cormorant", serif;
    }
    p {
      font-family: "HelveticaNeueCyr-reg";
      font-size: 14px;
      color: $wordsColor;
    }
  }
}
//IMG
.img {
  position: relative;
  padding: 7rem 0 0 0;
  background-color: $bacground;
  img {
    width: 100vw;
  }
}
//actionPrinciple
.actionPrinciple {
  background-color: $bacground;
  padding: 150px 0;
  &_content {
    h2 {
      font-family: "Cormorant", serif;
      color: $wordsColor;
      font-size: 36px;
    }
    p {
      font-family: "HelveticaNeueCyr-reg";
      font-size: 14px;
      color: $wordsColor;
    }
    &_block {
      &_card {
        &_img {
          img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
        &_description {
          h4 {
            font-family: "HelveticaNeueCyr-bold";
            font-size: 14px;
            color: $wordsColor;
          }
          p {
            font-family: "HelveticaNeueCyr-reg";
            font-size: 14px;
            color: $wordsColor;
          }
        }
      }
    }
  }
}
//PRODUCTION
.production {
  background-color: $bacground;
  padding-bottom: 150px;
  &_content {
    h2 {
      font-size: 36px;
      font-family: "Cormorant", serif;
      font-weight: 500;
      color: $wordsColor;
    }
    &_text {
      margin-bottom: 100px;
      p {
        font-family: "HelveticaNeueCyr-reg";
        font-size: 14px;
        color: $wordsColor;
      }
      h2 {
        font-family: "Cormorant", serif;
        font-size: 96px;
        color: $numberColor;
      }
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .specialist {
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
      &_info {
        p {
          font-family: "HelveticaNeueCyr-reg";
          font-size: 14px;
          color: $wordsColor;
        }
      }
    }
  }
}
//AFTER
.after {
  background-color: $bacground;
  padding-bottom: 150px;
  &_content {
    &_top {
      margin-bottom: 4.5rem;
      h2 {
        font-size: 36px;
        font-family: "Cormorant", serif;
        font-weight: 500;
        color: $wordsColor;
      }
    }
  }
}
