@import url("../../style/dist/style.css");
@import url("../../style/dist/about.css");

$backgroundStockInfo: #738793;
$white: #fff;
$wordsColor: #333333;
$ColorButton: #534e60;
$bacground: #f4f4f2;
$bacgroundWhite: #e6eae7;
$grey: #7c7c7c;
$resultBacground: #e6eae7;
$borderColor: #9e9e9e;
$breadcrumbColor: #959595;
$numberColor: #738793;

//ABOUTPRODUCT
.aboutProduct {
  background-color: $bacground;
  &_content {
    h2 {
      font-size: 36px;
      font-family: "Cormorant", serif;
      font-weight: 500;
      color: $wordsColor;
      margin-bottom: 6rem;
    }
    p {
      font-family: "HelveticaNeueCyr-reg";
      font-size: 14px;
      color: $wordsColor;
    }
    &_block {
      &_card {
        &_img {
          img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
    &_description {
      h2 {
        font-size: 24px;
        margin-bottom: 1.5rem;
      }
    }
  }
}
